body {
    top: 0;
    bottom: 0;
    position: fixed;
    grid-template-rows: min-content max-content auto;
    display: grid;
}

.img-responsive {
    width: 30%;
}

.img-header {
    display: flex;
    flex-direction: row-reverse;
}

#navbarColor02 {
    display: flex;
    flex-direction: row-reverse;
}

ul.navbar-nav.row-cols-lg-1 {
    flex-direction: row-reverse;

}

.container-fluid {
    display: grid;
    grid-template-columns: auto auto;
}

.container-fluid>ul {
    right: 0;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 80%;
}

#header {
    max-height: 100%;
    max-width: 75%;
}

#coreButtons {
    display: grid;
    grid-template-columns: max-content;
    justify-content: center;
    align-items: center;
    align-content: center;

}

footer {
    background-color: #000;
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
}

.btn {
    background-color: #3459e6;
    color: white;
    margin: 1% 2%;
}

.img-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 80%;
}

#textContent {
    display: grid;
    align-items: center;
}

.blockquote-footer::before {
    content: "";
}

.giant-size {
    font-size: 7rem;
}
a.nav-link.border-0.text-light {
    text-align: end;
}